<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - pu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/abrams.DentalOffice.webApp.styles.css" asp-append-version="true" />

    @*Required TAG to use Font Awesome icons throughout this project*@
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="~/css/index.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/patientEducation.css" rel="stylesheet"/>

</head>
<body>


    @* Nav-bar styling and any other JavaScript logics, please see site.css and the bottom of _Layout.cshtml for the <script> tag. *@
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top fixed-navbar" id="navbar">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">exit</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button> 
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link active" aria-current="page">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" asp-controller="Controller" asp-action="PageName" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Patient Education
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul>
                                <li><a asp-controller="PatientEducation" asp-action="SleepApnea" class="dropdown-item">Do I Have Sleep Apnea</a></li>
                                <li><a asp-controller="PatientEducation" asp-action="OralHygieneBasics" class="dropdown-item">Oral Hygiene Basics</a></li>
                                <li><a asp-controller="PatientEducation" asp-action="ChippedTooth" class="dropdown-item">What Should I Do If I Chip My Tooth</a></li>
                                <li><a asp-controller="PatientEducation" asp-action="BleedingGums" class="dropdown-item">Why Are My Gums Bleeding</a></li>
                                <li><a asp-controller="PatientEducation" asp-action="InvisalignOrBraces" class="dropdown-item">Which is Better Invisalign or Braces</a></li>
                            </ul>
                            <ul>
                                <li><a asp-controller="PatientEducation" asp-action="AlternativeToBraces" class="dropdown-item">Alternative to Braces for Teens</a></li>
                                <li><a asp-controller="PatientEducation" asp-action="RootCanal" class="dropdown-item">Do I Need a Root Canal</a></li>
                                <li><a asp-controller="PatientEducation" asp-action="ReplacingMissingTeeth" class="dropdown-item">Options For Replacing Missing Teeth</a></li>
                                <li><a asp-controller="PatientEducation" asp-action="ImproveMySmile" class="dropdown-item">What Can I Do to Improve My Smile</a></li>
                                <li><a asp-controller="PatientEducation" asp-action="ToothExtractionNecessary" class="dropdown-item">When Is a Tooth Extraction Necessary</a></li>
                            </ul>
                            <ul>
                                <li><a asp-controller="PatientEducation" asp-action="DentalAnxiety" class="dropdown-item">Dental Anxiety</a></li>
                                <li><a asp-controller="PatientEducation" asp-action="RecedingGums" class="dropdown-item">I Think My Gums Are Receding</a></li>
                                <li><a asp-controller="PatientEducation" asp-action="WisdomTeethExtraction" class="dropdown-item">Wisdom Teeth Extraction</a></li>
                                <li><a asp-controller="PatientEducation" asp-action="DamagedMyDentures" class="dropdown-item">What Do I Do If I Damage My Dentures</a></li>
                                <li><a asp-controller="PatientEducation" asp-action="BoneGraftForDentalImplants" class="dropdown-item">Will I Need a Bone Graft for Dental Implants</a></li>
                            </ul>
                        </div>
                    </li>



                    <li class="nav-item dropdown">
                        <a asp-controller="Home" asp-action="Index" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul>
                                <li><a asp-controller="DentalServices" asp-action="Allon4DentalImplants" class="dropdown-item">All-on-4 Dental Implants</a></li>
                                <li><a asp-controller="DentalServices" asp-action="ClearCorrectBraces" class="dropdown-item">Clear Correct Braces</a></li>
                                <li><a asp-controller="DentalServices" asp-action="DentalCheckup" class="dropdown-item">Dental Checkup</a></li>
                                <li><a asp-controller="DentalServices" asp-action="DentalCrownsNDentalBridges" class="dropdown-item">Dental Crowns and Dental Bridges</a></li>
                                <li><a asp-controller="DentalServices" asp-action="DentalImplants" class="dropdown-item">Dental Implants</a></li>
                                <li><a asp-controller="DentalServices" asp-action="DentalVeneersNDentalLaminates" class="dropdown-item">Dental Veneers and Dental Laminates</a></li>
                                <li><a asp-controller="DentalServices" asp-action="DenturesNPartialDentures" class="dropdown-item">Dentures and Partial Dentures</a></li>
                            </ul>
                            <ul>
                                <li><a asp-controller="DentalServices" asp-action="EmergencyDentist" class="dropdown-item">Emergency Dentist</a></li>
                                <li><a asp-controller="DentalServices" asp-action="FullMouthReconstruction" class="dropdown-item">Full Mouth Reconstruction</a></li>
                                <li><a asp-controller="DentalServices" asp-action="InvisalignDentist" class="dropdown-item">Invisalign Dentist</a></li>
                                <li><a asp-controller="DentalServices" asp-action="KidFriendlyDentist" class="dropdown-item">Kid Friendly Dentist</a></li>
                                <li><a asp-controller="DentalServices" asp-action="LaserDentistry" class="dropdown-item">Laser Dentistry</a></li>
                                <li><a asp-controller="DentalServices" asp-action="Lumineers" class="dropdown-item">Lumineers</a></li>
                                <li><a asp-controller="DentalServices" asp-action="PediatricDentist" class="dropdown-item">Pediatric Dentist</a></li>
                            </ul>
                            <ul>
                                <li><a asp-controller="DentalServices" asp-action="RootCanalTreatment" class="dropdown-item">Root Canal Treatment</a></li>
                                <li><a asp-controller="DentalServices" asp-action="SedationDentist" class="dropdown-item">Sedation Dentist</a></li>
                                <li><a asp-controller="DentalServices" asp-action="SmileMakeover" class="dropdown-item">Smile Makeover</a></li>
                                <li><a asp-controller="DentalServices" asp-action="SnapOnSmile" class="dropdown-item">Snap-On Smile</a></li>
                                <li><a asp-controller="DentalServices" asp-action="TeethWhitening" class="dropdown-item">Teeth Whitening</a></li>
                                <li><a asp-controller="DentalServices" asp-action="ZoomTeethWhitening" class="dropdown-item">Zoom Teeth Whitening</a></li>
                            </ul>
                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Privacy">Meet the Doctor</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Controller" asp-action="PageName">Patient Information</a>
                    </li>






                    <li class="nav-item">
                        <a asp-controller="Controller" asp-action="PageName" class="nav-link">Smile Gallery</a>
                    </li>

                    <li class="nav-item">
                        <a asp-controller="Controller" asp-action="PageName" class="nav-link">Contact Us</a>
                    </li>





                </ul>
            </div>
        </div>
    </nav>



    
    <main role="main" class="">
        @RenderBody()
    </main>
    




    @* id: 03 *@
    <div class="theContainer">
        <div class="theColumn cardbgdark text-center border-right-custom">
            <div class="pt-5 pb-2">
                <a href="https://www.bing.com/maps?mepi=23%7E%7ETopOfPage%7ELargeMapLink&ty=18&q=169+S+Alvarado+St%2C+West+Lake%2C+CA+90057&ppois=34.065043_-118.271694_169+S+Alvarado+St%2C+West+Lake%2C+CA+90057_%7E&cp=34.063023%7E-118.269035&v=2&sV=1&FORM=MIRE&qpvt=169+S+Alvarado+St+Ste+103+Los+Angeles%2C+CA+90057&lvl=16.1">
                    169 S Alvarado St Ste 103 <br>
                    Los Angeles, CA 90057
                </a>
            </div>
            <div class="pb-5">
                <a class="btn btn-outline-secondary" href="https://www.bing.com/maps?mepi=23%7E%7ETopOfPage%7ELargeMapLink&ty=18&q=169+S+Alvarado+St%2C+West+Lake%2C+CA+90057&ppois=34.065043_-118.271694_169+S+Alvarado+St%2C+West+Lake%2C+CA+90057_%7E&cp=34.06197%7E-118.269726&v=2&sV=1&FORM=MIRE&qpvt=169+S+Alvarado+St+Ste+103+Los+Angeles%2C+CA+90057&lvl=15.3">
                    Get Directions
                </a>
            </div>
        </div>


        <div class="theColumn cardbgdark text-center">
            <div class="pt-5 mt-3">
                Book Today!
            </div>
            <a class="btn btn-outline-secondary mt-2">
                Request Appointment
            </a>
        </div>
        
        <div class="theColumn cardbgdark text-center border-left-custom">
            <div class="pt-5 mt-3">
                Comments or Suggestions?
            </div>
            <a class="btn btn-outline-secondary mt-2">
                Contact Us
            </a>
        </div>

    </div>










    <div class="container pb-4">
        <div class="row">
            <!-- Left Column -->
            <div class="col-md-6 pt-5">
                <div class="row">
                    <div class="col col-12 col-md-6">
                        <img class="img-fluid" src="~/media/layout/logo.jpg" alt="Logo" style="max-height: 200px" />
                    </div>

                    <div class="col col-12 col-md-6 d-flex align-items-center">
                        <strong mt-5>Elliott Abrams Dental Office</strong>
                    </div>
                </div>



                
                
            </div>


            <!-- Right Column -->
            <div class="col-md-6">
                <div class="row">
                    <p class="subtitle">
                        <h3>
                            About
                        </h3>
                    </p>
                    <p>
                        We are committed to providing quality healthcare to families located in the Los Angeles area and treat patients of all ages.
                    </p>
                </div>


                <div class="longLine mb-3 mt-1"></div>


                <div class="row">
                    <!-- Column 1 in Right Column -->
                    <div class="col-md-6">
                        <h3>Office</h3>
                        <div>
                            <strong>Elliott Abrams Dental Office</strong>
                        </div>

                        <i class="fa-solid fa-location-dot"></i>
                        <a style="text-decoration: none" href="https://www.bing.com/maps?q=169+S+Alvarado+St+Ste+103%2C+Los+Angeles%2C+CA+90057&FORM=HDRSC6&cp=34.064881%7E-118.271228&lvl=17.9">
                            169 S Alvarado St Ste 103 <br>
                            Los Angeles, CA 90057
                        </a>
                    </div>

                    <!-- Column 2 in Right Column -->
                    <div class="col-md-6">
                        <h3>Contact</h3>
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:+2133534723" class="text-decoration-none" title="Call Us">+1 (213) 353-4723</a>
                    </div>
                </div>
            </div>
        </div>
    </div>










    @*Footer - start*@
    <footer class="border-top footer text-muted">
        <div class="container text-center">

            &copy;

            @{
                DateTime? timestamp = ViewData["CurrentTimestamp"] as DateTime?;
                if (timestamp.HasValue)
                {
                    @timestamp.Value.Year
                }
                else
                {
                    <b>2024-2026</b>
                }
            }
            Elliott Abrams Dental Office. All Rights Reserved.
        </div>
    </footer>
    @*Footer - end*@


</body>
</html>
