html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-top: 57px;
}


/* This will remove the default padding done by the container from _Layout.cshtml. See @RenderBody() therein. */
.body-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 100%;
} 



* {
    color: black
}



.subsubtitle {
  color: #333333;
  font: 25px 'freight-big-pro', serif;
}


.subtitleDes {
    color: #878787;
    font: 24px 'freight-big-pro', serif;
}

.subsubtitleDes {
  color: #646363;
  font: 19px 'freight-big-pro', serif;
}



.longLine {
    min-width: 100%;
    border-top: 1px solid rgb(210, 205, 205);
}



