html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding-top: 57px;
}


/* This will remove the default padding done by the container from _Layout.cshtml. See @RenderBody() therein. */
.body-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 100%;
} 



* {
    color: black
}



.subsubtitle {
  color: #333333;
  font: 25px 'freight-big-pro', serif;
}


.subtitleDes {
    color: #878787;
    font: 24px 'freight-big-pro', serif;
}

.subsubtitleDes {
  color: #646363;
  font: 19px 'freight-big-pro', serif;
}



.longLine {
    min-width: 100%;
    border-top: 1px solid rgb(210, 205, 205);
}





/* Styling for the nav-bar multi-column drop-down - start */
.navbar-dark .navbar-nav a.nav-link {
  color: #ffffff;
  font-size: 1.1em;
}
.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 0;
  padding: 0.7em;
}
@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }
  .dropdown-menu.show {
    display: flex;
  }
}
.dropdown-menu ul {
  list-style: none;
  padding: 0;
}
.dropdown-menu li .dropdown-item {
  color: gray;
  font-size: 1em;
  padding: 0.5em 1em;
}
.dropdown-menu li .dropdown-item:hover {
  background-color: #f1f1f1;
}
.dropdown-menu li a {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}
@media only screen and (max-width: 992px) {
  .dropdown-menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu {
    width: 40vw;
    flex-wrap: wrap;
  }
}
/* Styling for the nav-bar multi-column drop-down - end */





/* This is for sticky  navigation bar. Hide the nav-bar on scroll down and show it when scroll back up */
.navbar.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.navbar.visible {
  transform: translateY(0);
  transition: transform 0.3s;
}


.navbar.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.navbar.visible {
  transform: translateY(0);
  transition: transform 0.3s;
}



.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px; /* Adjust height as needed */
  background-color: #333;
  z-index: 1000; /* Ensures the navbar is on top */
}

.thecontent {
  padding-top: 60px; /* Same as the navbar height */
}